
  <div class="footer  w-100 ">
   <div class="container">
    <div class=" d-flex justify-content-between  align-items-center ` color-dark">
      <div class="start">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="middle">
        <h2>AROUND THE WEB</h2>
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div class="last">
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
   </div>
    <div class="down">

    </div>
  </div>


