
  <div class="data d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase">contact section</h1>
    <div class="divider">
      <span class="divider-line"></span>
      <span class="divider-icon">★</span>
      <span class="divider-line"></span>
    </div>
    <div class="user-data">
      <input type="text" class="form-control" placeholder="userName">
      <br>
      <br>
      <input type="text" class="form-control" placeholder="userAge">
      <br>
      <br>
      <input type="text" class="form-control" placeholder="userEmail">
      <br>
      <br>
      <input type="text" class="form-control" placeholder="userPassword">
      <br>
      <br>
      <button class="btn btn-success">send Message</button>
    </div>
    
  </div>



