.data{
  height: 85vh;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.divider-line {
  
  height: 2px;
  width:10%;
  background-color: #000;
  margin: 0 10px;
}
.divider-icon {
  font-size: 1.5rem;
}
